---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ st2_persistent_volume_pack_name }}
  namespace: {{ st2_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ st2_persistent_volume_pack_storage }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ st2_persistent_volume_config_name }}
  namespace: {{ st2_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ st2_persistent_volume_config_storage }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ st2_persistent_volume_virtualenv_name }}
  namespace: {{ st2_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ st2_persistent_volume_virtualenv_storage }}
