[defaults]
inventory = inventory
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
interpreter_python = /usr/bin/python3
roles_path = ./roles
display_skipped_hosts = no
