---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - github.com/ansible/awx-operator/config/default?ref={{ awx_release_tag }}
images:
  - name: quay.io/ansible/awx-operator
    newTag: {{ awx_release_tag }}

# Specify a custom namespace in which to install AWX
namespace: awx
